# Java
*.class
*.jar
*.war
*.ear
target/
*.log

# Maven
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project
.factorypath

# H2 Database
*.mv.db
*.trace.db

# Node / Angular
node_modules/
dist/
.angular/

# OS
.DS_Store
Thumbs.db

# Spring Boot
*.pid

# Legacy .NET
*.db
appsettings.Development.json

# Build artifacts
server-java/target/
server-java/.classpath
server-java/.project
server-java/.settings/
server-java/src/main/resources/static/
client-app/node/
client-app/dist/
package-lock.json
